.CardItem {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Header {
    background-color: #007bff;
    padding: 10px;
    color: white;
}

.ItemHeader {
    margin: 0;
    font-size: 1.5rem;
}

.ItemImg {
    width: 40%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.Info {
    margin: 10px 0;
}

.ItemFooter {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

