.CardItem {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    text-align: center;
  }
  
  
  .Info {
    margin: 10px 0;
  }
  
  .ItemFooter {
    margin-top: 20px;
  }
  
  .Option {
    padding: 10px;
    text-decoration: none;
  }
  